<!DOCTYPE html>
<html>
<head>
  <title>Cardiac Arrhythmia Classification</title>
  <meta charset="UTF-8">
</head>
<div class="formbold-main-wrapper">

    <div class="formbold-form-wrapper">
      
      <form action="/predict" method="POST">
        <div class="formbold-form-title">
          <h2 class="">Cardiac Arrhythmia Classification</h2>
          <p align="justify">
            Cardiac arrhythmia is a condition that affects the normal rhythm of the heart. It occurs when the electrical signals that control the heartbeat are disrupted or abnormal. This can cause the heart to beat too fast, too slow, or irregularly. Some cardiac arrhythmias are harmless and may not cause any symptoms. However, some arrhythmias can be serious and lead to complications such as stroke, heart failure, or sudden cardiac death
          </p>
        </div>
        <img src="{{url_for('static', filename='img/heartimage.png')}}" alt="" height="200" width="200" >
        <br>
        <br>
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label">
              Q-T_Int
            </label>
            <input
              type="number"
              step="any"
              name="f1"
              id="f1"
              class="formbold-form-input"
              required
            />
          </div>
          <div>
            <label for="lastname" class="formbold-form-label"> DII172 </label>
            <input
              type="number"
              step="any"
              name="f2"
              id="f2"
              class="formbold-form-input"
              required
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="email" class="formbold-form-label"> P_Int </label>
            <input
              type="number"
              step="any"
              name="f3"
              id="f3"
              class="formbold-form-input"
              required
            />
          </div>
          <div>
            <label for="phone" class="formbold-form-label"> P-R_Int </label>
            <input
              type="number"
              step="any"
              name="f4"
              id="f4"
              class="formbold-form-input"
              required
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
            <div>
              <label for="firstname" class="formbold-form-label">
                V1228
              </label>
              <input
                type="number"
                step="any"
                name="f5"
                id="f5"
                class="formbold-form-input"
                required
              />
            </div>
            <div>
              <label for="lastname" class="formbold-form-label"> V5262 </label>
              <input
                type="number"
                step="any"
                name="f6"
                id="f6"
                class="formbold-form-input"
                required
              />
            </div>
          </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="state" class="formbold-form-label"> V302 </label>
            <input
              type="number"
              step="any"
              name="f7"
              id="f7"
              class="formbold-form-input"
              required
            />
          </div>
          <div>
            <label for="country" class="formbold-form-label"> V6272 </label>
            <input
              type="number"
              step="any"
              name="f8"
              id="f8"
              class="formbold-form-input"
              required
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="post" class="formbold-form-label"> QRS_Dur </label>
            <input
              type="number"
              step="any"
              name="f9"
              id="f9"
              class="formbold-form-input"
              required
            />
          </div>
          <div>
            <label for="area" class="formbold-form-label"> V2230 </label>
            <input
              type="number"
              step="any"
              name="f10"
              id="f10"
              class="formbold-form-input"
              required
            />
          </div>
        </div>
  
        <button class="formbold-btn">Predict</button>
        <div class="formbold-form-title">
            <p>
              {{pred}}
            </p>
          </div>
      </form>
      <div class="formbold-input-group">
        <label class="formbold-form-label">
          Select a model to display plots
        </label>

        <select class="formbold-form-select" name="pickplot" id="plot" onchange="showImage()">
          <option value="none">None</option>
          <option value="knn">K Nearest Neighbours</option>
          <option value="lr">Logistic Regression</option>
          <option value="dtc">Decision Tree Classifier</option>
          <option value="svclin">Linear SVM</option>
          <option value="svcrbf">SVM with RBF Kernel</option>
          <option value="rfc">Random Forest Classifier</option>
          <option value="stackingclf">Stacking Classifier</option>
        </select>
        <img src="{{url_for('static', filename='img/cm_0.png')}}" id="knncm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_0.png')}}" id="knnroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_0.png')}}" id="knncv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_1.png')}}" id="lrcm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_1.png')}}" id="lrroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_1.png')}}" id="lrcv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_2.png')}}" id="dtccm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_2.png')}}" id="dtcroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_2.png')}}" id="dtccv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_3.png')}}" id="svclincm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_3.png')}}" id="svclinroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_3.png')}}" id="svclincv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_4.png')}}" id="svcrbfcm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_4.png')}}" id="svcrbfroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_4.png')}}" id="svcrbfcv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_5.png')}}" id="rfccm" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/roc_5.png')}}" id="rfcroc" style="display: none;" alt="" >
        <img src="{{url_for('static', filename='img/cv_5.png')}}" id="rfccv" style="display: none;" alt="" >

        <img src="{{url_for('static', filename='img/cm_6.png')}}" id="stackingclfcm" style="display: none;" alt="">
        <img src="{{url_for('static', filename='img/roc_6.png')}}" id="stackingclfroc" style="display: none;" alt="">
        <img src="{{url_for('static', filename='img/cv_6.png')}}" id="stacklingclfcv" style="display: none;" alt="" >
      </div>
    </div>
  </div>
  </html>
  <script type="text/javascript">
    function showImage() {
      sel = document.getElementById("plot").value;
      if(sel == "knn") {
        document.getElementById("knncm").style.display = 'block';
        document.getElementById("knnroc").style.display = 'block';
        document.getElementById("knncv").style.display = 'block';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbffroc").style.display = 'none';
        document.getElementById("svcrfbcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }
      else if(sel == "lr"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'block';
        document.getElementById("lrroc").style.display = 'block';
        document.getElementById("lrcv").style.display = 'block';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }

      else if(sel == "dtc"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'dtc';
        document.getElementById("dtcroc").style.display = 'dtc';
        document.getElementById("dtccv").style.display = 'dtc';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }

      else if(sel == "svclin"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'block';
        document.getElementById("svclinroc").style.display = 'block';
        document.getElementById("svclincv").style.display = 'block';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }

      else if(sel == "svcrbf"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'block';
        document.getElementById("svcrbfroc").style.display = 'block';
        document.getElementById("svcrbfcv").style.display = 'block';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }

      else if(sel == "rfc"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'block';
        document.getElementById("rfcroc").style.display = 'block';
        document.getElementById("rfccv").style.display = 'block';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }

      else if(sel == "stackingclf"){
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'block';
        document.getElementById("stackingclfroc").style.display = 'block';
        document.getElementById("stackingclfcv").style.display = 'block';
      }

      else{
        document.getElementById("knncm").style.display = 'none';
        document.getElementById("knnroc").style.display = 'none';
        document.getElementById("knncv").style.display = 'none';

        document.getElementById("lrcm").style.display = 'none';
        document.getElementById("lrroc").style.display = 'none';
        document.getElementById("lrcv").style.display = 'none';

        document.getElementById("dtccm").style.display = 'none';
        document.getElementById("dtcroc").style.display = 'none';
        document.getElementById("dtccv").style.display = 'none';

        document.getElementById("svclincm").style.display = 'none';
        document.getElementById("svclinroc").style.display = 'none';
        document.getElementById("svclincv").style.display = 'none';

        document.getElementById("svcrbfcm").style.display = 'none';
        document.getElementById("svcrbfroc").style.display = 'none';
        document.getElementById("svcrbfcv").style.display = 'none';

        document.getElementById("rfccm").style.display = 'none';
        document.getElementById("rfcroc").style.display = 'none';
        document.getElementById("rfccv").style.display = 'none';

        document.getElementById("stackingclfcm").style.display = 'none';
        document.getElementById("stackingclfroc").style.display = 'none';
        document.getElementById("stackingclfcv").style.display = 'none';
      }
    }
  </script>
  <style>
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .formbold-form-select {
    width: 100%;
    padding: 12px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: 'Inter', sans-serif;
    }
    .formbold-mb-3 {
      margin-bottom: 15px;
    }
    .formbold-relative {
      position: relative;
    }
    .formbold-opacity-0 {
      opacity: 0;
    }
    .formbold-stroke-current {
      stroke: currentColor;
    }
    #supportCheckbox:checked ~ div span {
      opacity: 1;
    }
  
    .formbold-main-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }
  
    .formbold-form-wrapper {
      margin: 0 auto;
      max-width: 570px;
      width: 100%;
      background: white;
      padding: 40px;
    }
  
    .formbold-img {
      margin-bottom: 45px;
    }
  
    .formbold-form-title {
      margin-bottom: 30px;
    }
    .formbold-form-title h2 {
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: #07074d;
    }
    .formbold-form-title p {
      font-size: 16px;
      line-height: 24px;
      color: #536387;
      margin-top: 12px;
    }
  
    .formbold-input-flex {
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
    }
    .formbold-input-flex > div {
      width: 50%;
    }
    .formbold-form-input {
      text-align: center;
      width: 100%;
      padding: 13px 22px;
      border-radius: 5px;
      border: 1px solid #dde3ec;
      background: #ffffff;
      font-weight: 500;
      font-size: 16px;
      color: #536387;
      outline: none;
      resize: none;
    }
    .formbold-form-input:focus {
      border-color: #6a64f1;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    .formbold-form-label {
      color: #536387;
      font-size: 14px;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
    }
  
    .formbold-checkbox-label {
      display: flex;
      cursor: pointer;
      user-select: none;
      font-size: 16px;
      line-height: 24px;
      color: #536387;
    }
    .formbold-checkbox-label a {
      margin-left: 5px;
      color: #6a64f1;
    }
    .formbold-input-checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
    .formbold-checkbox-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 16px;
      margin-top: 2px;
      border: 0.7px solid #dde3ec;
      border-radius: 3px;
    }
  
    .formbold-btn {
      font-size: 16px;
      border-radius: 5px;
      padding: 14px 25px;
      border: none;
      font-weight: 500;
      background-color: #6a64f1;
      color: white;
      cursor: pointer;
      margin-top: 25px;
    }
    .formbold-btn:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
  </style>